.container {
    width: 80%;
    padding: 2% 10%;
}
.header{
    margin-bottom: 10px;
}
.heading {
    font-size: 50px;
    color:orange;
    font-family: Arial, Helvetica, sans-serif;
}
.primary_color{
color:#5E46C6;
}
.secondary_color{
color:#D25989;
}

.side_heading {
    color:#5E46C6;
    font-size: 24px;
}
.main{
    color:#3F3F3D;
    font-size: 20px;
}
 .input-style {
    outline: none;
    border-radius: 4px;
    border: 1px solid white;
    background: #ebe4e4;
    font-size: 18px;
    padding: 2px;
}
.align-centre{
    text-align: center;
}
.btn {
    color: white;
    background: linear-gradient(to right,#e66465, #9198e5);
    border: none;
    border-radius: 5px;
    padding: 11px 26px;
    font-size: 18px;
    font-family: arial;
}